@mixin glow() {
    animation: glow 1s ease-in-out infinite alternate;

    @keyframes glow {
        from {
            opacity: 0.5;
        }

        to {
            opacity: 1;
        }
    }
}

@mixin shadowGlow() {
    animation: shadowGlow 1s ease-in-out infinite alternate;

    @keyframes shadowGlow {
        from {
            box-shadow: 0px 0px 10px 1px $neon-green;
        }

        to {
            box-shadow: 0px 0px 20px 1px $neon-green;
        }
    }
}

@mixin bob() {
    animation: bob 1s ease-in-out infinite alternate;

    @keyframes bob {
        from {
            transform: translateY(10px);
        }

        to {
            transform: translateY(0px);
        }
    }
}