@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

@media screen and (min-width: 1400px) {
  body {
    max-width: 1400px;
  }
}

@media screen and (max-width: 1400px) {
  body {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

button {
  padding: 4px 6px;
  border-radius: 4px;
  outline: none;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.page {
  min-height: 100vh;
  padding: 20px 40px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);

  svg,
  &_close_button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 10px 20px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: $page-base-bg;
    color-scheme: dark;
  }
}
