@import "variables";
@import "mixins";
@import "animations";

.our_token {
  @include center;

  @media screen and (min-width: 1400px) {
    max-width: 1400px;
  }

  @media screen and (max-width: 1400px) {
    max-width: 100%;
  }

  .content {
    @include center(column);
    align-items: flex-start;
    gap: 28px;
    flex: 0.5;

    h3 {
      font-size: 44px;
      font-weight: 500;
      line-height: 52px;
    }

    p {
      color: $gray-text;
      line-height: 28px;
    }

    .token_features {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      row-gap: 20px;

      .feature {
        width: 50%;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.3px;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    .token_stats {
      @include center;
      justify-content: space-between;
      width: 100%;
      gap: 20px;
      padding: 5px 20px;
      border-radius: 4px;
      background-color: $light-black;

      hr {
        width: 1px;
        height: 20px;
        background-color: $light-black;
        opacity: 0.5;
      }

      .stat {
        @include center;
        gap: 10px;
        font-size: 14px;
        font-weight: 500;
        color: $light-gray;
        padding: 10px 0px;

        span {
          color: $gray-text;
          max-width: 90px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .image {
    @include center;
    flex: 0.5;
    max-width: 600px;
    position: relative;

    .image_token {
      @include bob;
      z-index: 2;
      width: 100%;
      height: auto;
    }

    .image_glow {
      @include glow;
      z-index: 1;
      height: 130%;
      width: 130%;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: -50px;
      bottom: -50px;
      text-align: center;
    }
  }

  @media screen and (max-width: 1098px) {
    .content {
      h3 {
        font-size: 36px;
        line-height: 44px;
      }
    }
  }


  @media screen and (max-width: 1018px) {
    padding-top: 40px;
    .content {
      h3 {
        font-size: 32px;
        line-height: 40px;
      }

      .token_features {
        .feature {
          font-size: 14px;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    padding-top: 60px;
    flex-direction: column-reverse;

    .content {
      width: 100%;
      padding: 0;
      align-items: center;

      h3 {
        font-size: 28px;
        line-height: 36px;

        .title_underline:after {
          transform: scaleX(0.65);
          left: -32px;
        }
      }

      p {
        text-align: center;
      }

      .token_features {
        justify-content: space-between;
        row-gap: 10px;

        .feature {
          font-size: 14px;
        }
      }

      .token_stats {
        flex-direction: column;
        padding: 10px 0;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
          width: 160px;
          height: auto;
        }

        hr {
          width: 100%;
          height: 1px;
          opacity: 0.2;
        }

        .stat {
          width: 100%;

          span {
            max-width: 50%;
          }
        }
      }
    }

    .image {
      margin-left: 0;

      .image_token {
        margin-top: -60px;
        width: 280px;
        height: auto;
      }

    .image_glow {
      height: 150%;
      width: 150%;
      left: -60px;
      bottom: -25px;
    }
    }
  }

  @media (max-width: 425px) {
    .content {
      h3 {
        @include center(column);
        gap: 5px
      }
    }
  }
}