@import "variables";
@import "mixins";

.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px 0 40px;

  @media (max-width: 425px) {
    padding: 90px 0 40px;
  }

  .section_head {
    max-width: 580px;
  }

  .solutions {
    width: 100%;
  }

  .token_section {
    @include center(column);
    width: 100vw;
    padding: 150px 40px 80px 40px;
    // background-color: $black-section-bg;
    position: relative;
    overflow: hidden;

    .curvedSectionDiv {
      height: 50px;
      width: 100vw;
      border-bottom-left-radius: 50% 100%;
      border-bottom-right-radius: 50% 100%;
      // background-color: #18171c;
      position: absolute;
      left: 0px;
      top: 0px
    }

    @media screen and (max-width: 768px) {
      padding: 120px 20px 60px 20px;
    }
  }

  .contact_section {
    width: 100%;
    padding: 60px 120px;
    border-radius: 24px;
    background-image: url("../public/hero-bg.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;

    @media screen and (max-width: 998px) {
      padding: 60px;
      border-radius: 18px;
    }

    @media screen and (max-width: 768px) {
      padding: 40px 20px;
    }

    @media (max-width: 425px) {
      border-radius: 5px;
    }
  }

  .roadmap_section {
    width: 100%;
    padding: 100px 40px;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      padding: 60px 40px;
    }

    @media screen and (max-width: 540px) {
      padding: 60px 0px;
    }

    @media screen and (max-width: 441px) {
      padding-bottom: 100px;
    }

  }
}