@import "mixins";
@import "variables";

.section_head {
  margin: 0 auto;
  @include center(column);
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  text-align: center;

  strong {
    font-size: 14px;
    font-weight: 600;
    color: $neon-green;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 0.5;
  }

  h2 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1%;
  }

  p {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: $gray-text;
  }
}

@media screen and (max-width: 768px) {
  .section_head {
    strong {
      font-size: 12px;
    }

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }
}