@import "variables";
@import "mixins";

.solutions {
  @include center(column);
  padding: 0px 20px;
  padding-top: 80px;
  gap: 20px;
  overflow: hidden;

  .solution_row {
    @include center;
    justify-content: space-between;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .solution_image_container {
      @include center;
      width: 50%;

      .solution_image {
        width: 100%;
        max-width: 400px;
        height: auto;

        padding: 20px;
        mix-blend-mode: screen;
      }
    }


    .solution_content {
      width: 50%;
      padding: 0 20px;
      @include center(column);
      align-items: flex-start;
      gap: 28px;

      h3 {
        font-size: 38px;
        font-weight: 500;
      }

      p {
        color: $gray-text;
        line-height: 28px;
      }

      a {
        padding: 10px 20px;
        border: 2px rgb(255 255 255 / 0.2) solid;
        border-radius: 6px;
        color: #fff;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          background-color: $light-black;
        }
      }
    }
  }

  @media screen and (max-width: 998px) {
    padding: 40px 0;

    .solution_row {
      .solution_image_container {
        .solution_image {
          max-width: 300px;
        }
      }

      .solution_content {
        gap: 18px;
        padding: 0;

        h3 {
          font-size: 24px;
        }

        p {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    gap: 40px;

    .solution_row {
      flex-direction: column;

      &:nth-child(even) {
        flex-direction: column;
      }

      .solution_image_container {
        width: 100%;
        .solution_image {
          max-width: 340px;
          height: auto;
        }
      }

      .solution_content {
        width: 100%;
        align-items: center;

        h3 {
          font-size: 18px;
          text-align: center;
        }

        p {
          font-size: 12px;
          line-height: 16px;
          text-align: center;
        }
      }
    }
  }
}